@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-calendar {
    width: 400px;
    height: 420px;
    background-color: #ffff;
    box-shadow: 2px 3px 20px 0 rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    color: rgb(15, 15, 129);
    font-family:  'Poppins', sans-serif;
}
#calendar-content {
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.custom-calendar #months {
    display: none;
    flex-direction: column;
    padding: 20px;
}
.custom-calendar .list-months {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.custom-calendar .list-months .month {
    width: 130px;
    height: 35px;
    border: solid 1px rgb(188, 213, 245);
    background-color: rgb(249, 251, 253);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
}
.custom-calendar .list-months .month:hover {
    background-color: #f4f4f4;
}
.custom-calendar .list-months .selected-month {
    background-color: rgb(44, 119, 216);
    border: solid 1px rgb(44, 119, 216);
    color: #ffff;
}
.custom-calendar .list-months .selected-month:hover{
    background-color: rgb(32, 92, 170);
}

.custom-calendar .custom-calendar-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.custom-calendar-header span {
    cursor: pointer;
    font-size: 18px;
}
.custom-calendar-header span:hover {
    opacity: 0.6;
}
.custom-calendar .days {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 15px;
    margin-top: 25px;
}
.custom-calendar .list-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}
.list-days .weekday {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-days .fill-day {
    width: 43px;
}
.theme-primary {
    color: #646C9A;
}
.theme-primary .list-days .day {
    color:rgb(25, 90, 175);
}
.theme-primary .list-days .day .event {
    background-color: #646C9A;
}
.theme-primary .list-days .selected-day {
    color: #ffff;
}
.theme-dark {
    color: #ffff;
    background-color: #636668;
}
.theme-dark .list-days .day {
    border-color: rgba(150, 145, 150, 0.667);
}
.theme-dark .list-days .day .event {
    background-color: #3fb6bd;
}
.theme-dark .list-days .selected-day {
    background-color:#f4f4f4;
    border-color: #f4f4f4;
    color: rgba(34, 31, 34, 0.667);
}
.theme-dark .list-months .month {
    border-color: #baba;
    background-color: #babaca;
    color: rgba(34, 31, 34, 0.667);
}
.theme-dark .list-months .selected-month{
    background-color:#3fb6bd;
    border-color: #3fb6bd;
    color: rgba(34, 31, 34, 0.667);
}
.theme-dark .list-months .selected-month:hover{
    background-color:#33979c;
    border-color: #33979c;
}
.theme-dark .list-days .weekday {
    color: #4be2ea;
}
.list-days .day {
    width: 43px;
    height: 43px;
    border: solid 1px #efeff1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.list-days .day:hover {
    opacity: 0.7;
}
.list-days .day .event{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(25, 90, 175);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.list-days .selected-day {
    background-color: rgb(44, 119, 216);
    border: solid 1px rgb(44, 119, 216);
    color: #ffff;
}